<div class="form-container body">
  <h2>Join now</h2>
  <!-- <div class="error" *ngIf="error$ | async as errorMessage">
    {{ errorMessage }}
  </div> -->

  <div class="error" *ngIf="error$ | async" [@fallIn]="state">
    {{ error$ | async }}
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmitLogin()" class="center">
    <input
      type="text"
      placeholder="Email address.."
      [formControl]="form.get('email')"
      name="email"
      class="txt"
    />

    <input
      type="password"
      placeholder="Password"
      [formControl]="form.get('password')"
      name="password"
      class="txt"
    />

    <button type="submit" [disabled]="!form.valid" class="basic-btn">
      Log in
    </button>
    <div class="card-action">
      <a routerLink="/signup" routerLinkActive="active" class="alc">
        No account?
        <strong>Create one here</strong>
      </a>
    </div>
  </form>
</div>
