<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <div class="form-container">
      <h2>Login</h2>
      <div class="card-panel" *ngIf="error$ | async">
        {{ error$ }}
      </div>
      <form #formData="ngForm" (ngSubmit)="onSubmitLogin(formData)">
        <input
          type="text"
          placeholder="Email address.."
          (ngModel)="(email)"
          name="email"
          class="txt"
          required
        />
        <input
          type="password"
          placeholder="Password"
          (ngModel)="(password)"
          name="password"
          class="txt"
          required
        />
        <button
          type="submit"
          [disabled]="!formData.valid"
          class="waves-effect waves-light btn"
        >
          Log in
        </button>
        <div class="card-action">
          <a routerLink="/signup" class="alc">Don't have an account?</a>
        </div>
      </form>
    </div>
  </div>
</div>
