<div class="form-container body">
  <h2>Join now</h2>
  <div class="error" *ngIf="error$ | async" [@fallIn]="state">
    {{ error$ }}
  </div>
  <form #formData="ngForm" (ngSubmit)="onSubmitLogin(formData)" class="center">
    <input
      type="text"
      placeholder="Email address.."
      (ngModel)="(email)"
      name="email"
      class="txt"
      required
    />
    <input
      type="password"
      placeholder="Password"
      (ngModel)="(password)"
      name="password"
      class="txt"
      required
    />
    <button type="submit" [disabled]="!formData.valid" class="basic-btn">
      Log in
    </button>
    <div class="card-action">
      <a routerLink="/signup" routerLinkActive="active" class="alc"
        >No account? <strong>Create one here</strong></a
      >
    </div>
  </form>
</div>
