<div class="form-container body">
  <a routerLink="/login" id="goback">Go back</a>
  <h2>Join now</h2>

  <div class="error" *ngIf="error$ | async" [@fallIn]="state">
    {{ error$ | async }}
  </div>
  <form [formGroup]="formSingup" (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Email address.."
      formControlName="email"
      name="email"
      class="txt"
    />
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      name="password"
      class="txt"
    />
    <button type="submit" [disabled]="!formSingup.valid" class="basic-btn">
      Create my account
    </button>
  </form>
  <!-- <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" class="center">
    <input
      type="text"
      placeholder="Email address.."
      (ngModel)="(email)"
      name="email"
      class="txt"
      required
    />
    <input
      type="password"
      placeholder="Password"
      (ngModel)="(password)"
      name="password"
      class="txt"
      required
    />

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">
      Create my account
    </button>
  </form> -->
</div>
